[iZettle]
Username = iZettle username
Password = iZettle password
ClientId = iZettle API Client Id
ClientSecret = iZettle API Client secret
Ignore_Unhandled_Transaction_Codes = no

[Moneybird]
token = 1234567890asdfghjkl1234567890
administratie_id = 1234567890
contact_passant = Passant
contact_izettle = iZettle
ledger_bankkosten = Bankkosten
ledger_kruisposten = Kruisposten
financial_account_izettle = iZettle rekeningnaam
grootboekrekening_omzet = Omzet